
*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body{

    background-color: rgb(19,18,18);

    color: white;
}


header{
    background: black;
    padding: 20px;
}


nav{
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a{
    color: white;
    text-decoration: none;
}


img{
    width: 100%;
    display: block;
    object-fit: cover;
}


.info{

  
    display: flex;
    flex-direction: column;
    /* space between */
    justify-content: center;

    
    padding: 30px;
    background-color: rgb(19, 18, 18);
    gap: 20px;

}

.box{

    flex: 1;
    text-align: center;
    background: rgb(53, 52, 52);
    border-radius: 10px;
    padding: 20px;

}


.box h2{

    
    font-size: 1.3rem;
    color: white;


}


.box p{

   
    opacity: 0.7;
    color: white;

}

.highlight{
    width: 100%;
    background-color: black;
    padding-top: 40px;
    overflow: hidden;
    display: grid;
    grid-template-areas: main ;
    
    justify-content: center ;
    align-items: start;


    @media(min-width>600px){
        align-items: flex-end;
        opacity:10%;
    
    }

    
    
}

footer .mailfooter{
    min-height: 500px;
}

.highlight .imgbox{
    grid-area: main;

   
}
.highlight img{

    
    .imgBox img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}


.overlay{
    grid-area: main;
    display: block;
    border-radius: 10px;
    font-size:0.8rem;
    background-color: rgba(53, 52, 52, 0.6);
    padding: 40px;
    max-width: 300px;
    color: white;
    transform: translateY(2rem);
   
    justify-self: right;

}

.overlay h2{
    color: white;
    font-size: 1.3rem;
    opacity: 100%;
    
}
.overlay p{
    color: white;
    font-size: 0.6rem;
}


@media (min-width: 768px){

    .info{
      flex-direction: row;
       justify-content: center;
    }

/*     .overlay{
        position: absolute;
        
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

        
        width: 70%;

       
        max-width: 220px;

        
        padding: 0%;
        padding-bottom: 0%;

        
        text-align: center;

        
        background:rgb(53, 52, 52);

        border-radius: 8px;
    } */

    .overlay h2{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    .overlay p{
        color: white;

        
        font-size: 0.6rem;


    }
    .overlay h2, .overlay p {
        color: white !important;
    }

}

