*{
    margin: 0;
}




header,main,footer,nav{
    border:1px solid black ;
    padding: 3%;


}

nav{
    display: flex;
    gap:20px;
}

.CARS{
    display: grid;
    gap: 20px;
}

main{
    height: 70vh;
}

footer{
    height: 10vh;
}