*{
    font-family: system-ui;
}


header, main,footer ,nav{
    border: 1px solid black;
    min-width: 10vh;
    padding: 3%;
    margin: 0;
}


header nav a{
     text-decoration: none;
     color: black;

}


html{
    scroll-behavior: smooth;
}

nav{ 
    display: grid;
    gap: 20px;
}

@media(min-width:600px){

    nav{
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
       .imgbox{
    border: 2px solid black;
    padding: 2%;
    aspect-ratio: 1/1;
    }


}

img{
    width: 100%;
    height: 100%;
}


@media(min-width:600px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        place-items: center;
        text-align: center;

    }
}
